// --------------------------------------------------------------------------
// Popups
// --------------------------------------------------------------------------

.is-popup-open {
	body {
		overflow: hidden;
	}
}


.popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 40px 16px;
	background: #F8F8F8;
	color: #182045;
	overflow: auto;
}

.popup__close {
	position: absolute;
	top: 30px;
	right: 30px;
	color: #8E92A6;
	transition: color 0.25s;
	cursor: pointer;
	&:hover {
	  color: #000;
}
}

.popup__content {
	
}

.popup__logo {
	text-align: center;
	margin: 0 0 40px;
	img {
	  display: inline-block;
	  vertical-align: top;
}
}

.popup__caption {
	display: block;
	margin: 0 0 20px;
	font-size: 22px;
	line-height: 1.55;
	font-weight: 700;
	text-align: center;
	mark {
	  background: none;
	  color: #c81f24;
	}
}

.popup__form {
	max-width: 350px;
	margin: 0 auto;
	.ui-check {
	  font-size: 13px;
	  font-weight: 500;
	}
}

.register-type{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 22px 0 40px 0;
	li{
		margin: 0 12px;
		position: relative;
		&.active:before{
			content:'';
			position: absolute;
			bottom:-6px;
			left:0;
			background: #C81F24;
			height:2px;
			width:100%;
		}
		&.active a{
			color:#182045;
		}
		a{
			color:#616681;
			text-decoration: none;
			display: block;
			font-size: 18px;
			font-weight: 800;
			cursor:pointer;
		}
	}
}

.ui-field_group{
    display: flex;
    align-items: center;
	justify-content: space-between;	
	input{
		width: 207px;		
	}
}

.ui-cupon{
	width:130px;
	height:50px;
	background: linear-gradient(253.32deg, #E4EDF7 10.01%, #DDE5EF 93.85%, #DDE5EF 93.86%);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #182045;
	font-size: 18px;
	font-weight: 600;
}