// Colors
$white: #fff;
$black: #000;
$bg: #000c12;
$text: #16191c;

$azureRadiance: #0f8deb;
$outerSpace: #2c343a;
$emirald: #52c162;
$crimson: #dc1610;
$swamp: #00151f;
$mirage: #1a1f2d;
$raven: #747a89;
$casper: #afc3d3;
$shuttleGray: #616b77;
$azureRadiance: #0f8deb;
$catskillWhite: #ecf2f7;
$tabasco: #ab1b16;
$nepal: #97abc0;
$thunderbird: #b41d21;
$woodBark: #2a0706;
$redBerry: #8b0601;
$lonestar: #730400;
$stiletto: #a23834;
$mystic: #d9e1e9;
$tonyspink: #e48c89;
$bermuda: #7edcbb;
$blackSqueeze: #ebf2f8;
$alabaster: #f9f9f9;
$chileanFire: #f77400;
$scarlet: #f0170f;
$limedSpruce: #323c46;

$redGradient: linear-gradient(71.3deg, #ee2B31 6.44%, #9e1215 87.71%);
$greenGradient: linear-gradient(98.08deg, #07b96f 1.32%, #047f49 102.04%);

//Time
$time: .25s;